<div class="content-wrapper">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card p-4">
            <h4>Exam Instructions:</h4><br>
            <ol>
              <li>
                  The Question Palette displayed on the right side of exam screen
                  will show the status of each question using one of the
                  following symbols:
                  <ul>
                      <!-- <li>
                          <span class="white-label"></span> You have NOT <b>attempted</b>
                          the question.
                        </li> -->
                        <li>
                          <button type="button" class="btn btn-danger btn-sm mr-1">.</button> You have NOT <b>attempted</b>
                          the question.</li>
                        <li>
                          <button type="button" class="btn btn-success btn-sm mr-1">.</button> You have <b>answered</b> the
                            question.
                          </li>
                      <li>
                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1">.</button> You have <b>attempted but not answered</b>
                        the question.
                      </li>
                    </ul>
              </li><br>
              <li>On the time of exam the countdown timer at the top of screen will display the remaining time
                  available for you to complete the examination. When the timer
                  reaches zero, the examination will end by itself. You need not
                  terminate the examination or submit your paper.
              </li><br>
              <li>
                  The status (red, green, white) for a question simply indicates
                  that you answered or you have to attempted the question. If a question
                  is answered, the status will automatically changed.
              </li><br>
              <li>
                  To answer a question, do the following:
                  <ul>
                      <li>
                          Click on the question number in the Question Palette at the
                          right of your screen to go to that numbered question
                          directly. Note that using this option does NOT save your
                          answer to the current question.
                      </li>
                      <li>
                          Click on <b> Save &amp; Next </b> to save your answer for
                          the current question and then go to the next question.
                        </li>
                        <li>
                            Note that your answer for the current question will not be saved,
                            if you navigate to another question directly by clicking on a
                            question number <span> without saving </span> the answer to the
                            previous question.
                        </li>
                    </ul>
              </li><br>
              <li>
                  Procedure for answering a multiple choice (MCQ) type question:
                <ol>
                  <li>
                    Choose one answer from the 4 options (A,B,C,D) given below
                    the question, click on the bubble placed before the chosen
                    option.
                  </li>
                  <li>A fraction (e.g. -0.3 or -.3) can be entered as an answer with or without "0" before the decimal point. As many as four decimal points, e.g. 12.5435 or 0.003 or -932.6711 or 12.82 can be entered.</li>
                  <li>
                    To change your chosen answer, click on the bubble of another
                    option.
                  </li>
                  <li>
                    To save your answer, you MUST click on the
                    <b> Save &amp; Next </b>
                  </li>
                </ol>
              </li><br>
              <li>
                  To change your answer to a question that has already been
                  answered, first select that question for answering and then
                  follow the procedure for answering that type of question.
              </li><br>
              <li>
                  Note that ONLY Questions for which answers are
                  <b> saved </b> or
                  <b> marked for review after answering </b> will be considered
                  for evaluation.
              </li><br>
              <li>
                  After clicking the <b> Save &amp; Next </b> button for the
                  last question in a Section, you will automatically be taken to
                  the first question of the next Section in sequence.
              </li><br>
              <li>
                  You can move the mouse cursor over the name of a Section to
                  view the answering status for that Section.
              </li>
              <li>The Application compatible with following browsers:
                  <ul>
                    <li>Google Chrome version -- and later</li>
                    <li>Mozilla Firefox version version -- and later</li>
                    <li>Opera version -- and later</li>
                  </ul>
                </li>
            </ol>
          
        </div>
      </div>
    </div>
  </section>
</div>
<style>
.red-label {
  width: 20px;
    float: left;
    height: 20px;
    background-color: red;
    margin-right: 8px;
    border-radius: 16px;
    border: 1px solid #999;
}
.green-label {
  width: 20px;
    float: left;
    height: 20px;
    background-color: green;
    margin-right: 8px;
    border-radius: 16px;
    border: 1px solid #999;
}
.white-label {
  width: 20px;
    float: left;
    height: 20px;
    background-color: white;
    margin-right: 8px;
    border-radius: 16px;
    border: 1px solid #999;
}
</style>