<div class="container-fluid foxed-top">

  <div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-navbar></app-navbar>
    </div>
  </div>
</div>

<div class="container-fluid pt-3">

  <div class="row">
    <div class="col">
     <router-outlet></router-outlet>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col">
        <app-footer></app-footer>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-copyright></app-copyright>
      </div>
    </div>

  </div>