<div class="row">
    <div class="col">
      <app-slider></app-slider>
    </div>
  </div>
<div class="row bg-light">
<div class="col-md-6">
<app-womencollection></app-womencollection>
</div>

<div class="col-md-6">
<div class="row">
    <div class="col-md-6">
 <app-bestseller></app-bestseller>
    </div>
    <div class="col-md-6">
<app-dresses></app-dresses>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-denimjacket></app-denimjacket>
    </div>
</div>
</div>

</div>

<div class="row">
    <div class="col">
        <app-productslide></app-productslide>
    </div>
</div>