<div class="content-wrapper p-0">

  <div class="row">
    <div class="col-12 mt-3">
      <div class="content-header">ExamIn - Online Examination Platform</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">18,824</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-users font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Total Registration</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">---</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-book-open font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>---</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-ibiza-sunset">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">---</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-book-open font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>---</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 mt-3">
      <div class="content-header">Bright Life Foundation</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-blackberry">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">10,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-users font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Total Registration</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-blackberry">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">6,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-check font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Paid Registration</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-blackberry">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">5,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-close font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Unpaid Registration</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-12 mt-3">
      <div class="content-header">Maharishi Valmiki Sanskrit University</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-pomegranate">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">10,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-users font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Total Registration</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-pomegranate">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">6,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-check font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Paid Registration</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-6 col-12">
          <div class="card gradient-pomegranate">
            <div class="card-body">
              <div class="card-block pt-0 pb-0">
                <div class="media">
                  <div class="media-body white text-left">
                    <h3 class="font-large-1 mb-0">5,520</h3>
                  </div>
                  <div class="media-right white text-right">
                    <i class="icon-close font-large-2"></i>
                  </div>
                </div>
              </div>
              <div class="white">
                <span>Unpaid Registration</span>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <hr>


  <div class="row">
    <div class="col-12 mt-3">
      <div class="content-header">Candidate List</div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mt3">

      <section id="simple-table">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-12 mt-3">
                <p>Search by:</p>
              </div>
              <div class="col-md-4">
                <fieldset class="form-group">
                  <input type="text" class="form-control" placeholder="Unique ID">
                </fieldset>
              </div>
              <div class="col-md-4">
                <fieldset class="form-group">
                  <input type="text" class="form-control" placeholder="Name">
                </fieldset>
              </div>

              <div class="col-md-4">
                <fieldset class="form-group">
                  <input type="text" class="form-control" placeholder="Phone">
                </fieldset>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <p>Short by:</p>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-12">
                <fieldset class="form-group">
                  <select class="form-control">
                    <option>All Institute (ExamIn) </option>
                    <option>Bright Life Foundation</option>
                    <option>Maharishi Valmiki Sanskrit University</option>
                  </select>
                </fieldset>
              </div>

              <div class="col-xl-4 col-lg-6 col-md-12">
                <fieldset class="form-group">
                  <select class="form-control">
                    <option>All</option>
                    <option>Paid</option>
                    <option>Due</option>
                  </select>
                </fieldset>
              </div>

            </div>

          </div>
        </div>
      </section>

    </div>
  </div>

</div>