<div class="content-wrapper">
  <section>
    <div class="row">
      <div class="col-12">
        <div class="card p-4">
          <!-- <h4>Exam Instructions for exam id: {{ examId }}</h4><br> -->
          <h2 class="text-center">eScholarship 2019 Exam</h2>
          <div class="row mt-3">
            <div class="col-md-6"><b>Time : 30 Minutes</b></div>
            <div class="col-md-6 text-right"><b>Maximum : 50 Marks</b></div>
          </div>
          <p class="mt-3">Read the following instruction carefully.</p>
          <ol>
            <li>The Exam container having 50 question.</li>
            <li>Each question has 4 options out of which only one is correct.</li>
            <li>You have to finish the test in 30 minutes.</li>
            <li>There is no negative marking.</li>
            <li>You will be awarded 1 mark for each correct answer and no marks will be deducted for the wrong answer.
            </li>
            <li>Once you start the Exam, You will not be allowed to reattempt the exam.</li>
            <li>Make sure that you complete the Exam before you submit (time over/close the browser) the exam.</li>
            <li>The countdown timer will display the remaining time available for you to complete the examination. When
              the timer reaches zero, the examination will end itself. You need not terminate the examination or submit
              your paper.</li>
            <li>The application will capture your photo/video through webcam.</li>
          </ol>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 offset-md-2 label-control text-right">Choose Your Exam Language: </label>
            <div class="col-md-3">
              <select name="interested" class="form-control">
                <option value="none" selected="" disabled="">Exam Language</option>
                <option value="design">Hindi</option>
                <option value="development">English</option>
              </select>
            </div>
            <div class="col-md-12 text-primary text-center mt-3">Please not all question will appear in your selected
              language. This language cannot be changed later..</div>
          </div>

          <hr>

          <h5>Declaration</h5>
          <div class="checkbox">
            <div class="custom-control custom-checkbox m-0">
              <input type="checkbox" class="custom-control-input" id="staffing">
              <label class="custom-control-label" for="staffing">I have read all the instructions carefully and have
                understood them. I agree not to cheat or use unfair means in the examination. I understand that using
                unfair means of any sort for my own or someone else’s advantage will lead to my immediate
                disqualification. The decision of ExamIn.co will be final in these matters and cannot be
                appealed.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>