
<section class="bg-white">
  <div class="container-fluid">
    <app-navbar-offline></app-navbar-offline>

    <div class="row bg-white land-p-150 m-land-card">
      <div class="col-lg-3 col-md"></div>
      <div class="col-lg-6 land-pt-50">
        <!-- <h1 class="welcome-h1 text-center">
          Online Exam<br />process in paperless way
        </h1> -->

        <!-- <div class="row">
          <div class="col-xl-12 col-lg-12">
            <div class="card horizontal institute-card">
              <div class="card-content d-flex justify-content-between">
                <div class="card-body">
                  <div class="card-stacked align-self-center">
                    <div class="px-3 text-center">
                      <h4 class="card-title mb-2">Download App</h4> -->
                      <!-- <a class="btn btn-raised btn-warning" href="">Apply here</a> -->
                      <!-- <a href="https://play.google.com/store/apps/details?id=com.examin">
                        <img class="card-img-top img-fluid mb-2" src="assets/img/playstore.png" style="width: 150px;">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
  
      </div>

      <!-- <div class="col-lg-1 col-md"></div>
      <div class="col-lg-5 m-display-none t-display-none">
        <img src="assets/img/gallery/maintenance.png" class="img-fluid" />
      </div> -->
    </div>
  </div>

  <section class="bg-grey land-p-150 in-about">
    <div class="special_description_area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <!-- <div class="welcome-h1"><h2>Features</h2></div> -->
            <div class="welcome-h1"><h2>Online Exam process in paperless way</h2></div>
            <p class="mb-5 welcome-h3">
              Online Examination Platform which is secured with Capture Webcam
              and desktop.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 col-12 mt-4 text-center features">
            <img src="assets/img/landing/one.png" />
            <h4 class="mt-4 mb-4">Highly Interactive Interface</h4>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4 text-center features">
            <img src="assets/img/landing/two.png" />
            <h4 class="mt-4 mb-4">Reporting System</h4>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mt-4 text-center features">
            <img src="assets/img/landing/three.png" />
            <h4 class="mt-4 mb-4">Role Based Access</h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="cool-facts-area clearfix">
    <div class="container-fluid">
      <div class="row text-center">
        <div class="col-lg-12 counter-area">
          <h4>Get in touch</h4>
          <hr class="hr-width" />
          <p>
            We would love to hear from you! If you would like to get involved
            with ExamIn<br />
            <br />or have any queries do get in touch with us. You can e-mail
            us.<br /><br />
            contact@examin.co
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <section class="container-fluid">
    <div class="row footer">
      <div class="col-md-6">
        <a [routerLink]="['/', 'terms']" class="btn btn-flat btn-primary">Terms of Use</a>
        <a [routerLink]="['/', 'privacy']" class="btn btn-flat btn-primary">Privacy Policy</a>
        <a [routerLink]="['/', 'privacy-mobile']" class="btn btn-flat btn-primary">App Privacy Policy</a>
      </div>
      <div class="col-md-6 pull-right copyright2">
        <p class="pull-right">
          Copyright © 2020, <b>Alphabet-In Consulting & IT Services Private Limited</b>
        </p>
      </div>
    </div>
  </section>
</section>