<!-- Terms of Use -->
<div class="container">
  <div class="row">
    <h2 class="subheading mt-5 mb-5" style="width: 100%;">
      Terms of use

      <!-- <button type="button" class="btn btn-raised btn-warning btn-sm ml-5 pull-right">
        Close the page <i class="ft-times"></i>
      </button> -->
    </h2>

    <div class="v-card__text">
      <p class="font-weight-bold">AGREEMENT BETWEEN USER AND ExamIn.co</p>
      <p>
        The ExamIn.co Web Site comprises of various Web pages owned and
        operated by
        <strong>Alphabet-In Consulting &amp; IT Services Private Limited</strong>
        [Company]. The ExamIn.co web Site offers various services to you. This
        Agreement explains our obligations to you, and your obligations to us
        in relation to the services offered to you through the website
        [hereinafter "ExamIn.co"].
      </p>
      <p>
        You will be asked to: By clicking Next, you agree to our Terms, Data
        Policy and Cookie Policy. You understand and agree that ExamIn.co will
        treat your acceptance of the Terms from that point onwards.
      </p>
      <p>
        The terms and conditions of use, as described herein, shall not be
        modified by you. Your use of the ExamIn.co constitutes your agreement
        to all terms, conditions and notices displayed on ExamIn.co.
      </p>
      <p class="font-weight-bold mt-4">MODIFICATION OF THESE TERMS OF USE</p>
      <p>
        The Company reserves the right to change the terms, conditions, and
        notices under which the ExamIn.co Web Site is offered, including but
        not limited to the charges associated with the use of the Our
        ExamIn.co Web Site. Such modified terms shall be displayed on the
        website. It will be your responsibility to check and review such terms
        from time to time.
      </p>
      <p class="font-weight-bold mt-4">SERVICES OFFERED BY ExamIn.co:</p>
      <p>
        ExamIn.co is engaged in the business of assessment tests with various
        educational institutions. Hence you will be provided with services
        relating to online examinations, assessment tests.
      </p>
      <p>
        For registration with ExamIn.co, you will be asked to provide personal
        details like Name, Address, Contact Number and other details. On
        successful registration, you will be provided with a Login Id and
        Password. For details of how we collect and use your personal
        information please refer to our Privacy Policy. The privacy policy is
        an integral part of this agreement. You are encouraged to read all the
        details of the privacy policy and check for any amendments from time
        to time.
      </p>
      <p>
        Apart from facilitating online assessment of education institutes
        ExamIn.co also provides certain other services as follows.
      </p>
      <p class="font-weight-bold mt-4">SMS SERVICE:</p>
      <p>
        ExamIn.co may provide alerts, information to you through Mobile. To
        avail this service specific request in to company is required to be
        made. However mobile facility is subject to following
      </p>
      <p>
        In the event of change in your mobile number, you agree that you will
        update your profile information including your mobile number on
        ExamIn.co.
      </p>
      <p>
        By this agreement you agree that company will not be responsible, if
        information forwarded through SMS is not received in time due to
        communication failure from telecom operator network.
      </p>
    </div>
  </div>
</div>
<!-- //Terms of Use -->