<section>
  <div class="row" matchHeight="card">
    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-2">
            <div class="media">
              <div class="media-body text-left">
                <h5 class="pt-2">Basic Details</h5>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-check success font-large-1 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <span class="badge badge-danger" style="position: absolute;text-align: center;z-index: 1;left: 24px;">Click here for Next Step</span>
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-2">
            <div class="media">
              <div class="media-body text-left">
                <h5 class="pt-2">Apply for Exam</h5>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-close danger font-large-1 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-2">
            <div class="media">
              <div class="media-body text-left">
                <h5 class="pt-2">Exam Fee</h5>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-close danger font-large-1 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-12">
      <div class="card">
        <div class="card-content">
          <div class="px-3 py-2">
            <div class="media">
              <div class="media-body text-left">
                <h5 class="pt-2">Exam</h5>
              </div>
              <div class="media-right align-self-center">
                <i class="icon-close danger font-large-1 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Student List</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-responsive-md-md">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Full Name</th>
                  <th>Date of Birth</th>
                  <th>Phone</th>
                  <th>State</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Dinesh Kumar</td>
                  <td>14 March 1992</td>
                  <td>+91 8088708000</td>
                  <td>Haryana</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Dinesh Kumar</td>
                  <td>14 March 1992</td>
                  <td>+91 8088708000</td>
                  <td>Haryana</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Dinesh Kumar</td>
                  <td>14 March 1992</td>
                  <td>+91 8088708000</td>
                  <td>Haryana</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Dinesh Kumar</td>
                  <td>14 March 1992</td>
                  <td>+91 8088708000</td>
                  <td>Haryana</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Dinesh Kumar</td>
                  <td>14 March 1992</td>
                  <td>+91 8088708000</td>
                  <td>Haryana</td>
                  <td>
                    <a class="success p-0" data-original-title="" title="">
                      <i class="ft-eye font-medium-3 mr-2"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section">
                  <i class="ft-file-text"></i> Exam Creation
                </h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="projectinput1">Exam Name</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Talent Hunt Exam"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="projectinput2">Total Question</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="50"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="projectinput2">Total Marks</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="100"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="controls">
                      <label>Exam Date</label>
                      <input
                        type="date"
                        class="form-control"
                        placeholder="MM/DD/YYYY"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="controls">
                      <label>Exam Time</label>
                      <input
                        type="time"
                        class="form-control"
                        placeholder="MM/DD/YYYY"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="projectinput2"
                        >Total Time <code>(In minutes)</code></label
                      >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="30"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Randomize question</label>
                      <select name="budget" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Image Capture Security</label>
                      <select name="budget" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Allow Instant Score View</label>
                      <select name="budget" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="projectinput8"
                        >Message after complete exam</label
                      >
                      <textarea rows="3" class="form-control"></textarea>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button
                  type="button"
                  class="btn btn-raised btn-raised btn-primary"
                >
                  <i class="fa fa-check-square-o"></i> Create Exam
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="px-3">
            <form class="form">
              <div class="form-body">
                <h4 class="form-section">
                  <i class="ft-file-text"></i> Question Paper Setup
                </h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Select Exam</label>
                      <select name="budget" class="form-control">
                        <option value="abc">Telent Hunt Exam</option>
                        <option value="xyz">Scholarship Exam</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="projectinput2">Total Question</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="50"
                      />
                    </div>
                  </div>

                  <div class="col-md-12">
                    <p>Select questions form question bank</p>
                  </div>
                </div>
              </div>

              <div class="form-actions">
                <button
                  type="button"
                  class="btn btn-raised btn-raised btn-primary"
                >
                  <i class="fa fa-check-square-o"></i> Create Question Paper
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row border">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0">
            exam_name
            <p class="pull-right mb-0">
              Time Left- <span class="text-danger">00:10:20</span> (hh:mm:ss)
            </p>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-12">
      <div class="card mt-0">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Question Number 01</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="mb-3 border-bottom">
              <p>
                X and Y start from the same point. X walks 40 m north, then
                turns West and walks 80 m, then turns to his right and walks 50
                m. At the same time, Y walks 90 m North. Where is Y now with
                respect to the position of X?
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a1"
                    />
                    <label class="custom-control-label" for="a1"
                      >Y is 30 m to the East of X</label
                    >
                  </div>
                </div>

                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a2"
                    />
                    <label class="custom-control-label" for="a2"
                      >Y is 80 m to the West of X</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a3"
                    />
                    <label class="custom-control-label" for="a3"
                      >Y is 30 m to the West of X</label
                    >
                  </div>
                </div>
                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a4"
                    />
                    <label class="custom-control-label" for="a4"
                      >Y is 80 m to the East of X</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-secondary">
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <button class="btn btn-raised gradient-ibiza-sunset white pull-right">
        <i class="fa fa-check"></i> Next
      </button>
    </div>
    <div class="col-xl-3 col-lg-12 pl-0">
      <div class="card mt-0">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Question Palette</h4>
        </div>
        <div class="card-body">
          <div class="text-center border-bottom">
            <button class="btn btn-raised btn-success btn-sm mr-1">01</button>
            <button class="btn btn-raised btn-danger btn-sm mr-1">02</button>
            <button class="btn btn-raised btn-danger btn-sm mr-1">03</button>
            <button class="btn btn-raised btn-success btn-sm mr-1">04</button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              05
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              06
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              07
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              08
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              09
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              10
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              11
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              12
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              13
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              14
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              15
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              16
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              17
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              18
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              19
            </button>
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
              20
            </button>
          </div>

          <div class="row">
            <div class="col-md-12 mt-3">
              <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">
                00
              </button>
              - Not Visited
            </div>
            <div class="col-md-12">
              <button class="btn btn-raised btn-success btn-sm mr-1">00</button>
              - Answered
            </div>
            <div class="col-md-12">
              <button class="btn btn-raised btn-danger btn-sm mr-1">00</button>
              - Not Answered
            </div>

            <!-- <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">00</button> - Answered
            <button class="btn btn-raised btn-outline-secondary btn-sm mr-1">00</button> - Not Answered -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row border">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0">
            Result: exam_name
            <p class="pull-right mb-0">
              Time Spend-
              <span class="text-danger">00 hrs 10 minutes 20 second</span>
            </p>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Question</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Total Question</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Attempted</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Correct</td>
                  <td>9</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Marks</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <table class="table table-striped mb-0">
              <tbody>
                <tr>
                  <td>Total Marks</td>
                  <td>20</td>
                </tr>
                <tr>
                  <td>Marks Get</td>
                  <td class="text-danger">9</td>
                </tr>

                <button
                  class="btn btn-raised gradient-ibiza-sunset white pull-right mb-2 mt-3"
                >
                  <i class="fa fa-newspaper-o"></i> View Answer Sheet
                </button>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        donut chart will come - 9/20 Marks
      </div>
    </div>
  </div>

  <div class="row border">
    <div class="col-xl-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title mb-0">
            Result: exam_name
            <p class="pull-right mb-0">
              Time Spend-
              <span class="text-danger">00 hrs 10 minutes 20 second</span>
            </p>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2 class="card-title text-center text-danger">Answer Sheet</h2>
      <div class="card mt-0">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Question Number 01</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="mb-3 border-bottom">
              <p>
                X and Y start from the same point. X walks 40 m north, then
                turns West and walks 80 m, then turns to his right and walks 50
                m. At the same time, Y walks 90 m North. Where is Y now with
                respect to the position of X?
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a1"
                    />
                    <label class="custom-control-label" for="a1"
                      >Y is 30 m to the East of X</label
                    >
                  </div>
                </div>

                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a2"
                    />
                    <label class="custom-control-label" for="a2"
                      >Y is 80 m to the West of X</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a3"
                    />
                    <label class="custom-control-label" for="a3"
                      >Y is 30 m to the West of X</label
                    >
                  </div>
                </div>
                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a4"
                    />
                    <label class="custom-control-label" for="a4"
                      >Y is 80 m to the East of X</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row border-top mt-3">
              <div class="col-md-6 pt-3">
                <div class="checkbox mb-2">
                  <div class="m-0">
                    <label>Y is 30 m to the West of X</label> -
                    <span class="text-warning">Correct Answer</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-3">
                <h4 class="text-success">
                  <i class="fa fa-check" aria-hidden="true"></i> Correct Answer
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-0">
        <div class="card-header border-bottom">
          <h4 class="card-title pb-2">Question Number 02</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div class="mb-3 border-bottom">
              <p>
                X and Y start from the same point. X walks 40 m north, then
                turns West and walks 80 m?
              </p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a1"
                    />
                    <label class="custom-control-label" for="a1">115</label>
                  </div>
                </div>

                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a2"
                    />
                    <label class="custom-control-label" for="a2">123</label>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="checkbox mb-2">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a3"
                    />
                    <label class="custom-control-label" for="a3">30</label>
                  </div>
                </div>
                <div class="checkbox">
                  <div class="custom-control custom-checkbox m-0">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="a4"
                    />
                    <label class="custom-control-label" for="a4">130</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row border-top mt-3">
              <div class="col-md-6 pt-3">
                <div class="checkbox mb-2">
                  <div class="m-0">
                    <label>130</label> -
                    <span class="text-warning">Correct Answer</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pt-3">
                <h4 class="text-danger">
                  <i class="fa fa-times" aria-hidden="true"></i> Wrong Answer
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
