<section id="forgot-password">
  <div class="container">
    <div
      class="row full-height-vh d-flex align-items-center justify-content-center"
    >
      <div class="col-12 ">
        <div class="row examin-boxshadow">
          <div class="col-sm-8 col-md-6 col-lg-8 login-bg mobile-hide">
            <h3
              class="white mb-4 text-center"
              style="position: absolute;bottom: 0;left: 40px;"
            >
              let's start making your dreams come true
            </h3>
          </div>
          <div class="col-sm-4 col-md-6 col-lg-4" style="padding: 0;">
            <div class="card text-center" style="margin: 0;box-shadow: none">
              <div class="card-img">
                <img
                  class="mb-2 mt-4"
                  src="assets/img/examindia-logo.png"
                  width="120"
                />
              </div>

              <div class="card-body">
                <div class="card-block">
                <h4 class="mb-4">Forgot Password</h4>
  
                <!-- step 1 -->
                <ng-container *ngIf="step === 1">
                  <form [formGroup]="step1Form">
                    <div class="form-group">
                      <div class="col-md-12 txt-align">
                        <label for="mobileNumber">Mobile Number:</label>
                        <input type="text" class="form-control" placeholder="Mobile number" formControlName="mobile"
                          minlength="10" maxlength="10" required />
                        <!-- <small class="form-text text-muted danger" >Please
                        enter a valid 10 digit mobile number.</small> -->
                        <small class="form-text text-muted danger" *ngIf="
                          submitted1 && step1Form.get('mobile').errors?.required
                        ">Mobile number is required</small>
                        <small class="form-text text-muted danger" *ngIf="
                          submitted && forgotPasswordForm.get('mobile').errors?.pattern
                        ">Please enter valid mobile number</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <button class="btn btn-warning btn-block btn-raised" (click)="onMobileSubmit()"
                          [disabled]="inProcess1">Send OTP</button>
                      </div>
                    </div>
                  </form>
                </ng-container>
                <!-- step 1 -->
  
                <!-- step 2 -->
                <ng-container *ngIf="step === 2">
                  <form [formGroup]="step2Form">
                    <div class="form-group">
                      <div class="col-md-12 txt-align">
                        <label for="newPassword">Enter OTP:</label>
                        <input formControlName="otpNumber" type="text" class="form-control"
                          placeholder="Please enter 4 digit OTP" required />
                        <!-- <small class="form-text text-muted danger" >Please
                        enter 4 digit otp number.</small> -->
                        <small class="form-text text-muted danger" *ngIf="
                          submitted2 && step2Form.get('otpNumber').errors?.required
                        ">Please
                          enter 4 digit otp number</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12 dif">
                        <div class="float-left ml-3 mt-2 mb-2">
                          <a class="white float-left" (click)="resendOtp()">Resend OTP</a>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <button class="btn btn-warning btn-block btn-raised" [disabled]="inProcess2"
                          (click)="onOtpSubmit()">Submit OTP</button>
                      </div>
                    </div>
                  </form>
                </ng-container>
                <!-- step 2 -->
  
                <!-- step 3 -->
                <ng-container *ngIf="step === 3">
                  <form [formGroup]="step3Form">
                    <div class="form-group">
                      <div class="col-md-12 txt-align">
                        <label for="newPassword">New Password:</label>
                        <input formControlName="newPass" type="password" class="form-control" placeholder="New Password"
                          required />
                        <!-- <small class="form-text text-muted danger" *ngIf="passError">Please enter a password</small> -->
                        <small class="form-text text-muted danger" *ngIf="
                          submitted3 && step3Form.get('newPass').errors?.required
                        ">Please enter a password</small>
                        <small class="form-text text-muted danger" *ngIf="
                        submitted3 &&
                        step3Form.get('newPass').errors?.minlength
                      ">Password should be atleast 6 characters long</small>
                        <!--<small class="form-text text-muted danger" *ngIf="
                        submitted3 && step3Form.get('newPass').errors?.pattern
                      ">Please enter a valid password</small> -->
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12 txt-align">
                        <label for="mobileNumber">Confirm Password:</label>
                        <input formControlName="confirmPass" type="password" class="form-control"
                          placeholder="Confirm Password" required />
                        <small class="form-text text-muted danger"
                          *ngIf="submitted3 && step3Form.errors?.passwordMismatched">Password and Confirm
                          password must
                          match!</small>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <button class="btn btn-warning btn-block btn-raised" [disabled]="inProcess3"
                          (click)="onCreatePassword()">Save
                          Password</button>
                      </div>
                    </div>
                  </form>
                </ng-container>
                <!-- step 3 -->
              </div>
              </div>

              <div class="card-footer">
                <div><a [routerLink]="['/auth/login']">Back to Login</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>