<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.1/chartist.min.js" type="text/javascript"></script>
<div class="content-wrapper">
  <section>
      <div class="row match-height">
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header text-center pb-0">
                      <h3 class="mt-1 primary">eScholarship 2019</h3>
                  </div>
                  <div class="card-body">
                      <div id="donut-chart1" class="height-250 donut1">
                      </div>
                      <div class="card-block text-center">
                        <h5 class="d-block mb-1">5 August 2019, 5:20 pm</h5>
                          <a href="" class="primary font-medium-1">Check Answer Sheet</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header text-center pb-0">
                      <h3 class="mt-1 primary">Practice Exam</h3>
                  </div>
                  <div class="card-body">
                      <div id="donut-chart1" class="height-250 donut1">
                      </div>
                      <div class="card-block text-center">
                        <h5 class="d-block mb-1">1 August 2019, 5:20 pm</h5>
                          <a href="" class="primary font-medium-1">Check Answer Sheet</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header text-center pb-0">
                      <h3 class="mt-1 primary">Practice Exam</h3>
                  </div>
                  <div class="card-body">
                      <div id="donut-chart1" class="height-250 donut1">
                      </div>
                      <div class="card-block text-center">
                        <h5 class="d-block mb-1">20 July 2019, 5:20 pm</h5>
                          <a href="" class="primary font-medium-1">Check Answer Sheet</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header text-center pb-0">
                      <h3 class="mt-1 primary">Practice Exam</h3>
                  </div>
                  <div class="card-body">
                      <div id="donut-chart1" class="height-250 donut1">
                      </div>
                      <div class="card-block text-center">
                        <h5 class="d-block mb-1">06 June 2019, 5:20 pm</h5>
                          <a href="" class="primary font-medium-1">Check Answer Sheet</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-12">
              <div class="card">
                  <div class="card-header text-center pb-0">
                      <h3 class="mt-1 primary">Practice Exam</h3>
                  </div>
                  <div class="card-body">
                      <div id="donut-chart1" class="height-250 donut1">
                      </div>
                      <div class="card-block text-center">
                        <h5 class="d-block mb-1">12 April 2019, 11:20 pm</h5>
                          <a href="" class="primary font-medium-1">Check Answer Sheet</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="row">
          <div class="col-12">
              <div class="card">
                

                <section id="striped-light">
                          <div class="card">
                              <div class="card-body">
                                  <div class="card-block">
                                      <table class="table table-striped text-center">
                                          <thead>
                                              <tr>
                                                  <th>Date & Time</th>
                                                  <th>Exam Type</th>
                                                  <th>Total Marks</th>
                                                  <th>Get Marks</th>
                                                  <th>View Answer Sheet</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>5 August 2019, 5:20 pm</td>
                                                  <td>eScholarship 2019</td>
                                                  <td>50</td>
                                                  <td>35</td>
                                                  <td>
                                                    <a class="danger p-0" data-original-title="" title="">
                                                        <i class="ft-file-text font-medium-3 mr-2"></i>
                                                    </a>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>1 August 2019, 5:20 pm</td>
                                                <td>Practice Exam</td>
                                                <td>20</td>
                                                <td>12</td>
                                                <td>
                                                  <a class="danger p-0" data-original-title="" title="">
                                                      <i class="ft-file-text font-medium-3 mr-2"></i>
                                                  </a>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>20 July 2019, 5:20 pm</td>
                                              <td>Practice Exam</td>
                                              <td>20</td>
                                              <td>20</td>
                                              <td>
                                                <a class="danger p-0" data-original-title="" title="">
                                                    <i class="ft-file-text font-medium-3 mr-2"></i>
                                                </a>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td>06 June 2019, 5:20 pm</td>
                                            <td>Practice Exam</td>
                                            <td>20</td>
                                            <td>05</td>
                                            <td>
                                              <a class="danger p-0" data-original-title="" title="">
                                                  <i class="ft-file-text font-medium-3 mr-2"></i>
                                              </a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>12 April 2019, 11:20 pm</td>
                                          <td>Practice Exam</td>
                                          <td>20</td>
                                          <td>15</td>
                                          <td>
                                            <a class="danger p-0" data-original-title="" title="">
                                                <i class="ft-file-text font-medium-3 mr-2"></i>
                                            </a>
                                        </td>
                                      </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      
              </section>



                </div>
              </div>
            </div>

        </section>
    </div>